<!-- Submitted Assignments -->
        <h2>Submitted Assignments</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Subject</th>
                    <th>Submission Date</th>
                    <th>Grade</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                <% submittedAssignments.forEach(({ assignment, submission }) => { %>
                    <tr>
                        <td><%= assignment.title %></td>
                        <td><%= assignment.subject.name %></td>
                        <td>
                            <%= submission.submissionDate ? new Date(submission.submissionDate).toLocaleDateString('en-US', {
                                year: 'numeric', month: 'short', day: 'numeric',
                                hour: '2-digit', minute: '2-digit'
                            }) : 'Not Submitted' %>
                        </td>
                        <td><%= submission.grade !== null ? submission.grade : 'Not Graded' %></td>
                        <td><%= submission.feedback || 'No Feedback' %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    <% } %>
</body>

</html>